---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="flex flex-col mt-auto mb-auto justify-center items-center animate-fade-in">
        <h1 title="404" class="text-9xl select-none">404</h1>
        <a
            href="/"
            class="select-none text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 mb-2"
            >Return Home</a
        >
    </main>
</Layout>

<style>
    h1 {
        animation: glitch 1s linear infinite;
    }
    h1:before,
    h1:after {
        content: attr(title);
        position: absolute;
        left: 0;
    }
    h1:before {
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }
    h1:after {
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }
    @keyframes glitch {
        2%,
        64% {
            transform: translate(2px, 0) skew(0deg);
        }
        4%,
        60% {
            transform: translate(-2px, 0) skew(0deg);
        }
        62% {
            transform: translate(0, 0) skew(5deg);
        }
    }
    @keyframes glitchTop {
        2%,
        64% {
            transform: translate(2px, -2px);
        }
        4%,
        60% {
            transform: translate(-2px, 2px);
        }
        62% {
            transform: translate(13px, -1px) skew(-13deg);
        }
    }
    @keyframes glitchBotom {
        2%,
        64% {
            transform: translate(-2px, 0);
        }
        4%,
        60% {
            transform: translate(-2px, 0);
        }
        62% {
            transform: translate(-22px, 5px) skew(21deg);
        }
    }
</style>
