---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="p-8 sm:p-12 lg:p-24 animate-fade-in flex flex-col items-center justify-center">
        <div class="flex flex-row items-center justify-center">
            <h2 class="text-3xl">Privacy Policy</h2>
        </div>
        <p class="text-lg my-4">
            Your data always belongs to you, and only you. I don&apos;t collect or sell sensitive
            personal data.
        </p>
        <h3 class="text-lg my-2">Analytics</h3>
        <p>
            This site uses the open source <a class="underline" href="https://umami.is/"
                >Umami Analytics</a
            > routed through a subdomain to count website visits, downloads, etc. To view the analytics
            collected
            <a class="underline" href="https://al.jackweath.com/share/iXPiBLng/jackweath"
                >click here</a
            >. No cookies are used and no personal data—not even an IP address or browser user
            agent—is stored. For more information, see the <a
                class="underline"
                href="https://umami.is/privacy">Umami Data Policy.</a
            >
        </p>
        <h3 class="text-lg my-2">Projects</h3>
        <p>
            Projects may require varying levels of data to operate. For more information, check the
            privacy policies for that given project.
        </p>
        <h3 class="text-lg my-2">Transparency</h3>
        <p>
            I have not placed any backdoors into my software and have not received any requests for
            doing so. I have also never received a National Security Letter, FISA order, or any
            other classified request for user information.
        </p>
        <a
            href="/"
            class="select-none text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 mb-2"
            >Return Home</a
        >
    </main>
</Layout>
