<section class="mt-8">
  <h2 class="text-lg font-bold">Technical Skills</h2>
  <h3 class="underline">Languages</h3>
  <p>C#, TypeScript/JavaScript (ES6), Python, Java, GO, Rust</p>
  <h3 class="underline">Frameworks</h3>
  <p>Next.js, React, Astro, Express, ASP.NET, Blazor, Preact, Solid, Svelte</p>
  <h3 class="underline">Databases</h3>
  <p>PostgreSQL, SQLite, SQL Server, MongoDB, MySQL, Redis</p>
  <h3 class="underline">Version Control</h3>
  <p>Git, Azure DevOps, CVS, SVN, Perforce</p>
</section>
